<div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= data.user.fname %> <%= data.user.lname %></h5>
      <p class="card-text text-secondary"></p>
      <p class="card-text text-secondary">
        <%= data.user.email %> |
        Posts: <%= data.user.posts.length %> | 
        Followers: <%= data.user.followers.length %> |
        Following: <%= data.user.following.length %> |
        Groups: <%= data.user.groups.length %></p>
    </div>
    <% if (data.isMe)  {%>
        <div class="card-footer">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#postsChartModel">
                Show posts chart
            </button>
            <%- include('../user/showPostsChart', { data: data }) %>
            
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#commentChartModel">
                Show comments chart
            </button>
            
            <%- include('../user/showCommentsChart', { data: data }) %>
        </div>
    <%}%>
    
</div>
<hr>

  <%- include('../post/postFeedView', { data: data }) %>
  





